{{template "Header"}}
{{template "Menu"}}

<!-- About -->
<div class="w3-content w3-padding" style="max-width:1564px">
    <div class="w3-container w3-margin-top">
        <!-- Work Plan & Work Log Project I -->
        <div class="table-project-i">
            <h2 style="font-size: 40px; margin-top: 50px; text-shadow:2px 2px 0 rgb(0, 0, 0);">
                <span class="w3-pink w3-text-white w3-card-4 w3-round-xlarge w3-padding">
                    Work Plan & Work Log :
                    <i class="fa-regular fa-folder-open w3-padding-small w3-text-blue"></i>
                </span>
            </h2>
            <h3 class="w3-text-white w3-padding-large" style="font-size: 30px; text-shadow:2px 2px 0 rgb(0, 0, 0);">
                <span class="w3-border-bottom">Project I</span> :
                <i class="fa-regular fa-file-lines w3-padding-small w3-text-orange"></i>
            </h3>
            <iframe
                src="https://docs.google.com/spreadsheets/d/1imVBrtQ3R5AznIkBnEeeSc24qYHkcrq0weeTZ88HP44/edit#gid=611801224"
                class="w3-round-xlarge w3-card-2" height="1000" width="100%" frameborder="0" scrolling="auto"
                align="right">
            </iframe>
        </div>
        <!-- End Work Plan & Work Log Project I -->
        <p class="w3-text-white w3-border-bottom w3-border-light-grey" style="margin-top: 1050px;"></p>
        <!-- Work Plan & Work Log Project II -->
        <div class="table-project-ii">
            <h2 style="font-size: 40px; margin-top: 50px; text-shadow:2px 2px 0 rgb(0, 0, 0);">
                <span class="w3-pink w3-text-white w3-card-4 w3-round-xlarge w3-padding">
                    Work Plan & Work Log :
                    <i class="fa-regular fa-folder-open w3-padding-small w3-text-blue"></i>
                </span>
            </h2>
            <h3 class="w3-text-white w3-padding-large" style="font-size: 30px; text-shadow:2px 2px 0 rgb(0, 0, 0);">
                <span class="w3-border-bottom">Project II</span> :
                <i class="fa-regular fa-file-lines w3-padding-small w3-text-orange"></i>
            </h3>
            <iframe
                src="https://docs.google.com/spreadsheets/d/1imVBrtQ3R5AznIkBnEeeSc24qYHkcrq0weeTZ88HP44/edit#gid=902234290"
                class="w3-round-xlarge w3-card-2" height="1000" width="100%" frameborder="0" scrolling="auto"
                align="right">
            </iframe>
        </div>
        <!-- End Work Plan & Work Log Project II -->
    </div>
</div>
<!-- End About -->

</div>

</body>

</html>