{{template "Header"}}
{{template "Menu"}}

        <div id="main-content">
            <h2 style="color: springgreen; font-size: 40px; ">Work Plan & Work Log</h2>
            <h3 style="color: aliceblue; font-size: 20px;">Project I</h3>
            <iframe src="https://docs.google.com/spreadsheets/d/1c7RqF-9_z7Qlzqmey8cmt7PBjbB7EXiCgjsAc-pf0wk/edit#gid=297553906"height="1000" width="100%"frameborder="0"scrolling="auto"align="right">
            </iframe>
            <h2 style="color: springgreen; font-size: 40px; margin-top: 1050px;">Work Plan & Work Log</h2>
            <h3 style="color: aliceblue; font-size: 20px;">Project II</h3>
        </div>
    </div>
</body>

</html>