{{template "Header"}}
{{template "Menu"}}

<!-- Dashboard -->
<div class="w3-content w3-padding" style="max-width:1564px">
    <div class="w3-container" style="margin-top: 50px;">

        <!-- Details Camera -->
        <div class="w3-container w3-padding-32">
            <h1 class="w3-text-white" style="text-shadow:2px 2px 0 rgb(0, 0, 0)">
                <b>Cameras : </b>
                <i class="fa-solid fa-camera w3-text-pink"></i>
            </h1>
        </div>
    </div>
</div>
<!-- End Dashboard -->

</div>
</body>

</html>