{{template "Header"}}
{{template "Menu"}}

<!-- Dashboard -->
<div class="w3-content w3-padding" style="max-width:1564px">
    <div class="w3-container" style="margin-top: 50px;">

        <!-- Details Dashboard -->
        <div class="w3-container w3-padding-16">
            <h1 class="w3-text-white" style="text-shadow:2px 2px 0 rgb(0, 0, 0)">
                <b>Dashboard : </b>
                <i class="fa-solid fa-gauge-high w3-text-pink"></i>
            </h1>
        </div>
        <div class="w3-center w3-xlarge">
            <div class="w3-padding-16">
                <input type="text" id="camera-sensor-input" placeholder="Camera URL Sensor">
                <button
                    class="w3-bar-item w3-button w3-green w3-hover-pink w3-text-white w3-round-xlarge w3-large w3-card-2"
                    onclick="addCameraSensor()">Add Camera</button>
            </div>
            <div id="camera-stream-sensor" class="w3-padding"></div>
            <!-- Display the IP camera video using an iframe -->
            {{range .CameraSensors}}
            <div class="w3-padding">
                <button
                    class="w3-bar-item w3-button w3-blue w3-hover-pink w3-text-white w3-round-xlarge w3-large w3-card-2"
                    onclick="showCameraSensor('{{.}}')">{{.}}</button>
                <button
                    class="w3-bar-item w3-button w3-red w3-hover-pink w3-text-white w3-round-xlarge w3-large w3-card-2"
                    onclick="removeCameraSensor('{{.}}')">Remove</button>
            </div>
            {{end}}
        </div>
    </div>
</div>
<!-- End Dashboard -->

<script>
    function showCameraSensor(cameraSensor) {
        var iframe = document.createElement("iframe");
        iframe.src = cameraSensor;
        iframe.className = "w3-card-4 w3-round-xlarge";
        iframe.width = "1440px";
        iframe.height = "1080px";
        iframe.frameBorder = "0";
        document.getElementById("camera-stream-sensor").innerHTML = "";
        document.getElementById("camera-stream-sensor").appendChild(iframe);
    }

    function addCameraSensor() {
        var cameraSensor = document.getElementById("camera-sensor-input").value;
        if (cameraSensor) {
            var cameraList = document.getElementById("camera-stream-sensor");
            var button = document.createElement("button");
            button.className = "w3-bar-item w3-button w3-blue w3-hover-pink w3-text-white w3-round-xlarge w3-large w3-card-2";
            button.innerHTML = cameraSensor;
            button.onclick = function () {
                showCamera(cameraSensor);
            };
            cameraList.appendChild(button);
            document.getElementById("camera-sensor-input").value = "";

            // ส่งข้อมูลไปยัง API เพิ่มกล้อง
            fetch("/add_camera_sensor", {
                method: "POST",
                body: new URLSearchParams({
                    cameraSensor: cameraSensor
                })
            });
        }
        // เพิ่มโค้ดรีเฟรชหน้าเว็บ
        location.reload();
    }

    function removeCameraSensor(cameraSensor) {
        // ส่งข้อมูลไปยัง API ลบกล้อง
        fetch("/remove_camera_sensor", {
            method: "POST",
            body: new URLSearchParams({
                cameraSensor: cameraSensor
            })
        }).then(function (response) {
            if (response.ok) {
                // ลบปุ่มกล้องออกจากหน้าเว็บ
                var cameraList = document.getElementById("camera-stream-sensor");
                var buttons = cameraList.getElementsByTagName("button");
                for (var i = 0; i < buttons.length; i++) {
                    if (buttons[i].innerHTML === cameraSensor) {
                        buttons[i].parentNode.removeChild(buttons[i]);
                        break;
                    }
                }
            }
        });
        // เพิ่มโค้ดรีเฟรชหน้าเว็บ
        location.reload();
    }
</script>

</div>
</body>

</html>