{{template "Header"}}
{{template "Menu"}}

<!-- Dashboard -->
<div class="w3-content w3-padding" style="max-width:1564px">
    <div class="w3-container" style="margin-top: 50px;">
        <!-- Details Dashboard -->
        <div class="w3-container w3-padding-16">
            <h1 class="w3-text-white" style="text-shadow:2px 2px 0 rgb(0, 0, 0)">
                <b>Dashboard : </b>
                <i class="fa-solid fa-gauge-high w3-text-pink"></i>
            </h1>
        </div>
        <div class="w3-center w3-xlarge">
            <div class="w3-padding-16">
                <input type="text" id="camera-url-input" placeholder="Camera URL">
                <button
                    class="w3-bar-item w3-button w3-green w3-hover-pink w3-text-white w3-round-xlarge w3-large w3-card-2"
                    onclick="addCamera()">Add Camera</button>
            </div>
            <!-- Display the IP camera video using an iframe -->
            {{range .CameraURLs}}
            <div class="w3-padding">
                <button
                    class="w3-bar-item w3-button w3-blue w3-hover-pink w3-text-white w3-round-xlarge w3-large w3-card-2"
                    onclick="showCamera('{{.}}')">{{.}}</button>
                <button
                    class="w3-bar-item w3-button w3-red w3-hover-pink w3-text-white w3-round-xlarge w3-large w3-card-2"
                    onclick="removeCamera('{{.}}')">Remove</button>
            </div>
            {{end}}
        </div>
        <div class="w3-xlarge w3-text-white">
            <!-- Added variable ID for displaying data from /metadatas -->
            <!-- Show data from Hostname -->
            <div class="w3-padding-16">
                <p class="w3-xxlarge w3-bar-item w3-button w3-green w3-round-xlarge w3-card-2">Hostname :</p>
                <div id="hostname" class="w3-card-2 w3-round-large w3-padding w3-light-gray">
                    <p><strong>Hostname : </strong> <span id="hostname-name"></span></p>
                    <p><strong>FromDHCP : </strong> <span id="hostname-fromDHCP"></span></p>
                </div>
            </div>
            <!-- Show data from NetworkProtocols -->
            <div class="w3-padding-16">
                <p class="w3-xxlarge w3-bar-item w3-button w3-green w3-round-xlarge w3-card-2">
                    NetworkProtocols :</p>
                <div id="networkprotocols" class="w3-card-2 w3-round-large w3-padding w3-light-gray">
                    <p><strong>Name : </strong> <span id="network-name"></span></p>
                    <p><strong>Enabled : </strong> <span id="network-enabled"></span></p>
                </div>
            </div>
            <!-- Show data from DeviceInformation -->
            <div class="w3-padding-16">
                <p class="w3-xxlarge w3-bar-item w3-button w3-green w3-round-xlarge w3-card-2">Device
                    Information :</p>
                <div id="device-information" class="w3-card-2 w3-round-large w3-padding w3-light-gray">
                    <p><strong>Manufacturer : </strong> <span id="manufacturer"></span></p>
                    <p><strong>Model : </strong> <span id="model"></span></p>
                    <p><strong>Firmware Version : </strong> <span id="firmware-version"></span></p>
                    <p><strong>Serial Number : </strong> <span id="serial-number"></span></p>
                    <p><strong>Hardware ID : </strong> <span id="hardware-id"></span></p>
                </div>
            </div>
            <!-- Show data from Users -->
            <div class="w3-padding-16">
                <p class="w3-xxlarge w3-bar-item w3-button w3-green w3-round-xlarge w3-card-2">Users :</p>
                <div id="users" class="w3-card-2 w3-round-large w3-padding w3-light-gray">
                    <p><strong>Username : </strong> <span id="username"></span></p>
                    <p><strong>Password : </strong> <span id="password"></span></p>
                    <p><strong>UserLevel : </strong> <span id="userlevel"></span></p>
                </div>
            </div>
            <!-- Show data from DiscoveryMode  -->
            <div class="w3-padding-16">
                <p class="w3-xxlarge w3-bar-item w3-button w3-green w3-round-xlarge w3-card-2">DiscoveryMode :</p>
                <div id="discovery" class="w3-card-2 w3-round-large w3-padding w3-light-gray">
                    <p><strong>Discovery Mode : </strong> <span id="discovery_mode"></span></p>
                </div>
            </div>
            <!-- Show data from SystemDateAndTime -->
            <div class="w3-padding-16">
                <p class="w3-xxlarge w3-bar-item w3-button w3-green w3-round-xlarge w3-card-2">System Date and
                    Time :</p>
                <!-- <pre id="dateandtime" class="w3-card-2 w3-round-large w3-padding w3-light-gray"></pre> -->
                <div id="systemdateandtime" class="w3-card-2 w3-round-large w3-padding w3-light-gray">
                    <p><strong>SystemDateAndTime :</strong></p>
                    <ul>
                        <strong>DateTimeType :</strong><span id="DateTimeType"></span>
                    </ul>
                    <ul>
                        <strong>DaylightSavings :</strong><span id="DaylightSavings"></span>
                    </ul>
                    <ul><strong>UTCDateTime :</strong>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>Time : </strong>
                            <span id="UTCDateTime-Time-Hour"></span>
                            <span>Hour </span>
                            <span id="UTCDateTime-Time-Minute"></span>
                            <span>Minute</span>
                            <span id="UTCDateTime-Time-Second"></span>
                            <span>Second</span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>Date : </strong>
                            <span id="UTCDateTime-Date-Day"></span>
                            <span>Day </span>
                            <span id="UTCDateTime-Date-Month"></span>
                            <span>Month</span>
                            <span id="UTCDateTime-Date-Year"></span>
                            <span>Year</span>
                        </li>
                    </ul>
                    <ul><strong>LocalDateTime :</strong>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>Time : </strong>
                            <span id="LocalDateTime-Time-Hour"></span>
                            <span>Hour </span>
                            <span id="LocalDateTime-Time-Minute"></span>
                            <span>Minute</span>
                            <span id="LocalDateTime-Time-Second"></span>
                            <span>Second</span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>Date : </strong>
                            <span id="LocalDateTime-Date-Day"></span>
                            <span>Day </span>
                            <span id="LocalDateTime-Date-Month"></span>
                            <span>Month</span>
                            <span id="LocalDateTime-Date-Year"></span>
                            <span>Year</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Show data from ServiceCapabilities  -->
            <div class="w3-padding-16">
                <p class="w3-xxlarge w3-bar-item w3-button w3-green w3-round-xlarge w3-card-2">ServiceCapabilities :</p>
                <!-- <pre id="servicecap-capabilities" class="w3-card-2 w3-round-large w3-padding w3-light-gray"></pre> -->
                <div id="servicecap" class="w3-card-2 w3-round-large w3-padding w3-light-gray">
                    <p><strong>Capabilities:</strong></p>
                    <ul><strong>Network :</strong>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>IPFilter : </strong>
                            <span id="servicecap-network-1"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>ZeroConfiguration : </strong>
                            <span id="servicecap-network-2"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>IPVersion6 : </strong>
                            <span id="servicecap-network-3"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>DynDNS : </strong>
                            <span id="servicecap-network-4"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>Dot11Configuration : </strong>
                            <span id="servicecap-network-5"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>Dot1XConfigurations : </strong>
                            <span id="servicecap-network-6"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>HostnameFromDHCP : </strong>
                            <span id="servicecap-network-7"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>NTP : </strong>
                            <span id="servicecap-network-8"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>DHCPv6 : </strong>
                            <span id="servicecap-network-9"></span>
                        </li>
                    </ul>
                    <ul><strong>Security :</strong>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>TLS1_0 : </strong>
                            <span id="servicecap-security-1"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>TLS1_1 : </strong>
                            <span id="servicecap-security-2"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>TLS1_2 : </strong>
                            <span id="servicecap-security-3"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>OnboardKeyGeneration : </strong>
                            <span id="servicecap-security-4"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>AccessPolicyConfig : </strong>
                            <span id="servicecap-security-5"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>DefaultAccessPolicy : </strong>
                            <span id="servicecap-security-6"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>Dot1X : </strong>
                            <span id="servicecap-security-7"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>RemoteUserHandling : </strong>
                            <span id="servicecap-security-8"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>X509Token : </strong>
                            <span id="servicecap-security-9"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>SAMLToken : </strong>
                            <span id="servicecap-security-10"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>KerberosToken : </strong>
                            <span id="servicecap-security-11"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>UsernameToken : </strong>
                            <span id="servicecap-security-12"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>HTTPDigest : </strong>
                            <span id="servicecap-security-13"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>RELToken : </strong>
                            <span id="servicecap-security-14"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>SupportedEAPMethods : </strong>
                            <span id="servicecap-security-15"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>MaxUsers : </strong>
                            <span id="servicecap-security-16"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>MaxUserNameLength : </strong>
                            <span id="servicecap-security-17"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>MaxPasswordLength : </strong>
                            <span id="servicecap-security-18"></span>
                        </li>
                    </ul>
                    <ul><strong>System :</strong>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>DiscoveryResolve : </strong>
                            <span id="servicecap-system-1"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>DiscoveryBye : </strong>
                            <span id="servicecap-system-2"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>RemoteDiscovery : </strong>
                            <span id="servicecap-system-3"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>SystemBackup : </strong>
                            <span id="servicecap-system-4"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>SystemLogging : </strong>
                            <span id="servicecap-system-5"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>FirmwareUpgrade : </strong>
                            <span id="servicecap-system-6"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>HTTPFirmwareUpgrade : </strong>
                            <span id="servicecap-system-7"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>HTTPSystemBackup : </strong>
                            <span id="servicecap-system-8"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>HTTPSystemLogging : </strong>
                            <span id="servicecap-system-9"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>HTTPSupportInformation : </strong>
                            <span id="servicecap-system-10"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>StorageConfiguration : </strong>
                            <span id="servicecap-system-11"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>MaxStorageConfigurations : </strong>
                            <span id="servicecap-system-12"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>GeoLocationEntries : </strong>
                            <span id="servicecap-system-13"></span>
                        </li>
                        <li class="w3-margin-left" style="list-style: none">
                            <strong>AutoGeo : </strong>
                            <span id="servicecap-system-14"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Show data from Capabilities -->
            <div class="w3-padding-16">
                <p class="w3-xxlarge w3-bar-item w3-button w3-green w3-round-xlarge w3-card-2">Capabilities :
                </p>
                <pre id="capabilities" class="w3-card-2 w3-round-large w3-padding w3-light-gray"></pre>
            </div>
            <!-- Show data from Camera-Stream -->
            <div id="camera-stream" class="w3-padding"></div>
        </div>
    </div>
</div>
<!-- End Dashboard -->

<script>
    function showCamera(cameraURL) {
        // Call the metadatas API
        fetch("/metadatas", {
            method: "POST",
            body: new URLSearchParams({
                cameraURL: cameraURL
            })
        })
            .then(response => response.json())
            .then(data => {
                // Show information on web page
                // Show data from DeviceInformation
                document.getElementById("manufacturer").innerText = data.DeviceInformation.Manufacturer;
                document.getElementById("model").innerText = data.DeviceInformation.Model;
                document.getElementById("firmware-version").innerText = data.DeviceInformation.FirmwareVersion;
                document.getElementById("serial-number").innerText = data.DeviceInformation.SerialNumber;
                document.getElementById("hardware-id").innerText = data.DeviceInformation.HardwareID;
                // Show data from Users
                var user = data.Users.User[0];
                document.getElementById("username").innerText = user.Username;
                document.getElementById("password").innerText = user.Password;
                document.getElementById("userlevel").innerText = user.UserLevel;
                // Show data from SystemDateAndTime
                // document.getElementById("dateandtime").innerText = JSON.stringify(data.SystemDateAndTime, null, 2);
                var sysdatetime = data.SystemDateAndTime.SystemDateAndTime;
                document.getElementById("DateTimeType").innerText = sysdatetime.DateTimeType;
                document.getElementById("DaylightSavings").innerText = sysdatetime.DaylightSavings;
                document.getElementById("UTCDateTime-Time-Hour").innerText = sysdatetime.UTCDateTime.Time.Hour;
                document.getElementById("UTCDateTime-Time-Minute").innerText = sysdatetime.UTCDateTime.Time.Minute;
                document.getElementById("UTCDateTime-Time-Second").innerText = sysdatetime.UTCDateTime.Time.Second;
                document.getElementById("UTCDateTime-Date-Day").innerText = sysdatetime.UTCDateTime.Date.Day;
                document.getElementById("UTCDateTime-Date-Month").innerText = sysdatetime.UTCDateTime.Date.Month + 1;
                document.getElementById("UTCDateTime-Date-Year").innerText = sysdatetime.UTCDateTime.Date.Year;
                document.getElementById("LocalDateTime-Time-Hour").innerText = sysdatetime.LocalDateTime.Time.Hour + 7;
                document.getElementById("LocalDateTime-Time-Minute").innerText = sysdatetime.LocalDateTime.Time.Minute;
                document.getElementById("LocalDateTime-Time-Second").innerText = sysdatetime.LocalDateTime.Time.Second;
                document.getElementById("LocalDateTime-Date-Day").innerText = sysdatetime.LocalDateTime.Date.Day;
                document.getElementById("LocalDateTime-Date-Month").innerText = sysdatetime.LocalDateTime.Date.Month + 1;
                document.getElementById("LocalDateTime-Date-Year").innerText = sysdatetime.LocalDateTime.Date.Year;
                // Show data from Capabilities
                document.getElementById("capabilities").innerText = JSON.stringify(data.Capabilities, null, 2);
                // Show data from Hostname
                document.getElementById("hostname-name").innerText = data.Hostname.HostnameInformation.Name;
                document.getElementById("hostname-fromDHCP").innerText = data.Hostname.HostnameInformation.FromDHCP;
                // Show data from NetworkProtocols
                var network = data.NetworkProtocols.NetworkProtocols[0];
                document.getElementById("network-name").innerText = network.Name;
                document.getElementById("network-enabled").innerText = network.Enabled;
                // Show data from DiscoveryMode 
                document.getElementById("discovery_mode").innerText = data.DiscoveryMode.DiscoveryMode;
                // Show data from ServiceCapabilities 
                // document.getElementById("servicecap-capabilities").innerText = JSON.stringify(data.ServiceCapabilities, null, 2);
                var servicecapabilities = data.ServiceCapabilities.Capabilities;
                document.getElementById("servicecap-network-1").innerText = servicecapabilities.Network.IPFilter;
                document.getElementById("servicecap-network-2").innerText = servicecapabilities.Network.ZeroConfiguration;
                document.getElementById("servicecap-network-3").innerText = servicecapabilities.Network.IPVersion6;
                document.getElementById("servicecap-network-4").innerText = servicecapabilities.Network.DynDNS;
                document.getElementById("servicecap-network-5").innerText = servicecapabilities.Network.Dot11Configuration;
                document.getElementById("servicecap-network-6").innerText = servicecapabilities.Network.Dot1XConfigurations;
                document.getElementById("servicecap-network-7").innerText = servicecapabilities.Network.HostnameFromDHCP;
                document.getElementById("servicecap-network-8").innerText = servicecapabilities.Network.NTP;
                document.getElementById("servicecap-network-9").innerText = servicecapabilities.Network.DHCPv6;
                document.getElementById("servicecap-security-1").innerText = servicecapabilities.Security.TLS1_0;
                document.getElementById("servicecap-security-2").innerText = servicecapabilities.Security.TLS1_1;
                document.getElementById("servicecap-security-3").innerText = servicecapabilities.Security.TLS1_2;
                document.getElementById("servicecap-security-4").innerText = servicecapabilities.Security.OnboardKeyGeneration;
                document.getElementById("servicecap-security-5").innerText = servicecapabilities.Security.AccessPolicyConfig;
                document.getElementById("servicecap-security-6").innerText = servicecapabilities.Security.DefaultAccessPolicy;
                document.getElementById("servicecap-security-7").innerText = servicecapabilities.Security.Dot1X;
                document.getElementById("servicecap-security-8").innerText = servicecapabilities.Security.RemoteUserHandling;
                document.getElementById("servicecap-security-9").innerText = servicecapabilities.Security.X509Token;
                document.getElementById("servicecap-security-10").innerText = servicecapabilities.Security.SAMLToken;
                document.getElementById("servicecap-security-11").innerText = servicecapabilities.Security.KerberosToken;
                document.getElementById("servicecap-security-12").innerText = servicecapabilities.Security.UsernameToken;
                document.getElementById("servicecap-security-13").innerText = servicecapabilities.Security.HTTPDigest;
                document.getElementById("servicecap-security-14").innerText = servicecapabilities.Security.RELToken;
                document.getElementById("servicecap-security-15").innerText = servicecapabilities.Security.SupportedEAPMethods.Types;
                document.getElementById("servicecap-security-16").innerText = servicecapabilities.Security.MaxUsers;
                document.getElementById("servicecap-security-17").innerText = servicecapabilities.Security.MaxUserNameLength;
                document.getElementById("servicecap-security-18").innerText = servicecapabilities.Security.MaxPasswordLength;
                document.getElementById("servicecap-system-1").innerText = servicecapabilities.System.DiscoveryResolve;
                document.getElementById("servicecap-system-2").innerText = servicecapabilities.System.DiscoveryBye;
                document.getElementById("servicecap-system-3").innerText = servicecapabilities.System.RemoteDiscovery;
                document.getElementById("servicecap-system-4").innerText = servicecapabilities.System.SystemBackup;
                document.getElementById("servicecap-system-5").innerText = servicecapabilities.System.SystemLogging;
                document.getElementById("servicecap-system-6").innerText = servicecapabilities.System.FirmwareUpgrade;
                document.getElementById("servicecap-system-7").innerText = servicecapabilities.System.HTTPFirmwareUpgrade;
                document.getElementById("servicecap-system-8").innerText = servicecapabilities.System.HTTPSystemBackup;
                document.getElementById("servicecap-system-9").innerText = servicecapabilities.System.HTTPSystemLogging;
                document.getElementById("servicecap-system-10").innerText = servicecapabilities.System.HTTPSupportInformation;
                document.getElementById("servicecap-system-11").innerText = servicecapabilities.System.StorageConfiguration;
                document.getElementById("servicecap-system-12").innerText = servicecapabilities.System.MaxStorageConfigurations;
                document.getElementById("servicecap-system-13").innerText = servicecapabilities.System.GeoLocationEntries;
                document.getElementById("servicecap-system-14").innerText = servicecapabilities.System.AutoGeo;
            });

        var iframe = document.createElement("iframe");
        iframe.src = "http://" + cameraURL + "/sensors.html";
        iframe.className = "w3-card-4 w3-round-xlarge";
        iframe.width = "1440px";
        iframe.height = "1080px";
        iframe.frameBorder = "0";
        document.getElementById("camera-stream").innerHTML = "";
        document.getElementById("camera-stream").appendChild(iframe);
    }

    function addCamera() {
        var cameraURL = document.getElementById("camera-url-input").value;
        if (cameraURL) {
            var cameraList = document.getElementById("camera-stream");
            var button = document.createElement("button");
            button.className = "w3-bar-item w3-button w3-blue w3-hover-pink w3-text-white w3-round-xlarge w3-large w3-card-2";
            button.innerHTML = cameraURL;
            button.onclick = function () {
                showCamera(cameraURL);
            };
            cameraList.appendChild(button);
            document.getElementById("camera-url-input").value = "";

            // Send data to the Add Camera API.
            fetch("/add_camera", {
                method: "POST",
                body: new URLSearchParams({
                    cameraURL: cameraURL
                })
            });
        }
        // refresh the page
        location.reload();
    }

    function removeCamera(cameraURL) {
        // Send data to the Remove Camera API.
        fetch("/remove_camera", {
            method: "POST",
            body: new URLSearchParams({
                cameraURL: cameraURL
            })
        }).then(function (response) {
            if (response.ok) {
                // camera remove button
                var cameraList = document.getElementById("camera-stream");
                var buttons = cameraList.getElementsByTagName("button");
                for (var i = 0; i < buttons.length; i++) {
                    if (buttons[i].innerHTML === cameraURL) {
                        buttons[i].parentNode.removeChild(buttons[i]);
                        break;
                    }
                }
            }
        });
        // refresh the page
        location.reload();
    }
</script>

</div>

</body>

</html>