{{define "Menu"}}

<!-- Navbar Start -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-wide w3-padding w3-card">
        <img class="w3-bar-block w3-left w3-center" style="width: 50px;" src="asset/images/logo-4.png" alt="image-logo">
        <a href="/" class="w3-bar-item w3-button w3-hover-pink w3-text-white w3-round-medium w3-large"><b>NONVIF</b></a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="/cameras"
                class="w3-bar-item w3-button w3-hover-pink w3-text-white w3-round-medium w3-large">Cameras</a>
            <a href="/dashboard"
                class="w3-bar-item w3-button w3-hover-pink w3-text-white w3-round-medium w3-large">Dashboard</a>
            <a href="/about"
                class="w3-bar-item w3-button w3-hover-pink w3-text-white w3-round-medium w3-large">About</a>
            <a href="/portfolio"
                class="w3-bar-item w3-button w3-hover-pink w3-text-white w3-round-medium w3-large">Portfolio</a>
            <a href="/logout"
                class="w3-bar-item w3-button w3-hover-pink w3-red w3-text-white w3-round-xlarge w3-large">Logout</a>
        </div>
    </div>
</div>
<!-- Navbar End -->

{{end}}