{{template "Header"}}
{{template "Menu"}}

{{/* <body class="w3-light-grey"> */}}
  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width: 1400px">
    <!-- The Grid -->
    <div class="w3-row-padding">
      <!-- Left Column -->
      <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img src="https://sv1.picz.in.th/images/2022/05/23/HlEbyq.jpg" style="width: 100%" alt="Avatar"
              height="690px" />
            <div class="w3-display-bottomleft w3-container w3-text-white">
              <h2>Nuntakorn Sopap</h2>
            </div>
          </div>
          <div class="w3-container">
            <p>
              <br>
              <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer &amp; Undergraduate
              student
            </p>
            <p>
              <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Chonburi, Thailand
            </p>
            <p>
              <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>nuntakorn.sp@mail.com &amp;
              62050553@go.buu.ac.th
            </p>
            <p>
              <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>09-0982-4029
            </p>
            <hr />

            <p class="w3-large">
              <b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
            </p>
            <p>Visual Studio Code</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 90%">
                <div class="w3-center w3-text-white">90%</div>
              </div>
            </div>
            <p>Word, &amp; Excel, &amp; Powerpoint, and Canva</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 85%">
                <div class="w3-center w3-text-white">85%</div>
              </div>
            </div>
            <p>HTML &amp; CSS</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 80%">
                <div class="w3-center w3-text-white">80%</div>
              </div>
            </div>
            <p>Python &amp; C &amp; C++</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 75%">
                75%
              </div>
            </div>
            <p>Ubuntu</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 70%">
                70%
              </div>
            </div>
            <p>Adobe Photoshop</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 60%">
                60%
              </div>
            </div>
            <p>Solidwork, &amp; AutoCAD</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 50%">
                <div class="w3-center w3-text-white">50%</div>
              </div>
            </div>
            <br />
            <p class="w3-large w3-text-theme">
              <b><i class="fa fa-search-plus fa-fw w3-margin-right w3-text-teal"></i>Topgun Strengths</b>
            </p>
            <ul>
              <li> team communication skills </li>
              <li> punctually </li>
              <li> good listener </li>
              <li> help others </li>
              <li> can cope with every problem </li>
            </ul>
            <hr />

            <p class="w3-large w3-text-theme">
              <b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
            </p>
            <p>Thai</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 100%">
                100%
              </div>
            </div>
            <p>Myanmar</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 60%">
                60%
              </div>
            </div>
            <p>Lao</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 50%">
                50%
              </div>
            </div>
            <p>English</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width: 50%">
                50%
              </div>
            </div>
            <br>
            <br>
            <br />
          </div>
        </div>
        <br />

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">
        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience
          </h2>
          <div class="w3-container">
            <h3 class="w3-opacity">
              <b>Internship &amp; Part-Time</b>
            </h3>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 -
              <span class="w3-tag w3-teal w3-round">Current</span>
            </h6>
            <p>
              Total Internship : 2 Jobs <br />
              Total Part-Time : 1 Job <br />
              Total Duration : 0 year 7 months
            </p>
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Advanced Innovation Center</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2022 -
              <span class="w3-tag w3-teal w3-round">Current</span>
            </h6>
            <p>
              Job Type : Internship <br />
              Responsibility : research and development
            </p>
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>CHUE CHIN HUA COMPANY LIMITED : Samutprakarn</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2021 -
              Jun 2021 (3 Month.)
            </h6>
            <p>
              Job Type : Internship <br />
              Responsibility : supervise/support information system work
            </p>
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>SIAM GUMED TAPE CO., LTD. : Bangkok</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2018 -
              May 2018
            </h6>
            <p>
              Job Type : Part-Time <br />
              Responsibility : Packaging Staff
            </p>
            <hr />
            <br />
          </div>
          <!-- ค่าย -->
          <div class="w3-container">
            <h3 class="w3-opacity">
              <b>Learning Camp</b>
            </h3>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 -
              <span class="w3-tag w3-teal w3-round">Current</span>
            </h6>
            <p>Total Learning Camp : 2 Camp <br /></p>
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>JOINED TESA TOPGUN RALLY</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>2021
            </h6>
            <p>
              Learn about machine learning &amp; Image Processing
            </p>
            <hr />
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>TRUE 5G ROBOTIC BOOTCAMP</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>2020
            </h6>
            <p>
              Temi Robot Project
            </p>
            <hr />
          </div>

          <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16">
              <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education
            </h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Burapha University</b></h5>
              <h6 class="w3-text-teal">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 -&gt;
                Present
              </h6>
              <p>FACULTY OF ENGINEERING</p>
              <p>Major of Embedded Systems Engineering</p>
              <hr />
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity">
                <b>King Mongkut's University of Technology Thonburi</b>
              </h5>
              <h6 class="w3-text-teal">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 *Did
                not graduate
              </h6>
              <p>FACULTY OF SCIENCE</p>
              <p>Major of Microbiology</p>
              <hr />
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Mathayomwatsing school</b></h5>
              <h6 class="w3-text-teal">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2017
              </h6>
              <p>HIGH SCHOOL</p>
              <p>Science-Mathematics Classroom</p>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity">
                <b>RajPrachaSamasai School Under the Royal Patronage</b>
              </h5>
              <h6 class="w3-text-teal">
                <i class="fa fa-calendar fa-fw w3-margin-right"></i>2003 - 2011
              </h6>
              <p>PRIMARY SCHOOL &amp; KINDERGARTEN</p>
              <br />
            </div>
          </div>

          <!-- End Right Column -->
        </div>

        <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
      <p>Find me on social media.</p>
      <i class="fa fa-facebook-official w3-hover-opacity">
        <br />
        <a href="https://www.facebook.com/rps53014">facebook</a>
      </i>
      &nbsp;&nbsp;
      <i class="fa fa-instagram w3-hover-opacity">
        <br />
        <a href="https://www.instagram.com/n.ntk.sp">instagram</a>
      </i>
      &nbsp;&nbsp;
      <i class="fa fa-twitter w3-hover-opacity">
        <br />
        <a href="https://www.twitter.com/@ntk_1991">twitter</a>
      </i>
      <p>Powered by : Nuntakorn Sopap.</p>
    </footer>
    </div>
{{/* </body> */}}

</html>